<h1 class=title><%= render partial: "shared/homeicon"%>Customer Index</h1>
<br>
<br>
<div class=box-left>
<%@customers.each do |customer|%>
    <%=link_to(customer.name, customer_path(customer))%>
    <br>
    <br>
<%end%>

<%= link_to "New Customer", new_customer_path%>
</div>


