<h1 class=title><%= render partial: "shared/homeicon"%>Item Index</h1>
<br>
<br>
<div class = items>
<h3>Items</h3>
<ul>
<%@items.each do |item|%>
    <li><%=link_to(item.description, item_path(item))%></li>
    <br>
    <br>

<%end%>
</ul>
</div>