<h1 class=title><%= render partial: "shared/homeicon"%>Item Index</h1>
<br>
<br>
<div class = container id = test>
<h3>Items</h3>
    <ul class =list-inline>
        <%@items.each do |item|%>
            <li><%=link_to(item.description, item_path(item))%></li>
        <%end%>
    </ul>
</div>