<h2 class=title ><%= render partial: "shared/homeicon"%>Welcome to BuyStuff</h2>
<div class= box-center>
    <ul id= home_links>
        <li><%=link_to("My Info and Orders", customer_path(session[:current_user]))%></li>
        <br>
        <li><%=link_to("Items List", items_path)%></li>
        <br>
        <li><%=link_to("Logout", logout_path)%></li>
    </ul>
</div>