@import "bootstrap-sprockets";
@import "bootstrap";
 body {
    background-color:#519872;
    margin: 0%;
}

 .title {
    background-color:#0D2818;
    color: #ffffff;
    margin: 0;
    padding-bottom: .5%;
    padding-top: .5%;
    text-align: center;
 }

 a{
    text-decoration: none;
 }

 a:link {
    color: #386FA4;
  }
  
  /* visited link */
a:visited {
    color: #1C2541;
  }
  
  /* mouse over link */
a:hover {
    color: hotpink;
  }

 .box-center {
    text-align: center;
    padding-top: 1%;
 }

 .box-left {
   margin: 3%;
   padding-top: .5%;
}
/*
* End global / begin welcome css
*/

ul#home_links{
   list-style: none;
   font-size: 18px;
   text-align: center;
   padding-top: 10px;
   padding-left: 40%;
   padding-right: 40%;
   
}
ul#home_links li{
   background-color: #0D2818;
   border-style: solid;
   width: 120px;
   margin: 1.5%;
   padding: .2%;
   border-radius: 5px;

}

ul#home_links li a {
   padding-right: 25px;
   padding-left: 25px;
}

ul#home_links li a:visited {
   color: #fff;
}
ul#home_links li a:hover {
   color: hotpink;
}

