/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-color:#519872;
    margin: 0%;
    text-align: center;
    font-size: 24;
    

}

 .title {
    background-color:#0D2818;
    color: #ffffff;
    margin: 0;
    padding-bottom: .5%;
    padding-top: .5%;

    text-align: center;
 }

 a:link {
    color: #386FA4;
  }
  
  /* visited link */
a:visited {
    color: #1C2541;
  }
  
  /* mouse over link */
a:hover {
    color: hotpink;
  }

 .box-2 {
    text-align: center;
    font-size: 24;
    padding-top: 1%;
 }