// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border:1px #ccc solid;
    border-radius:15px;
 }

 .items h3{
    text-align:center;
 }




div.co#test{

}